#login-div{
    margin-left: 30rem;
    height: 30rem;
    width: 30% ;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
element.style {
    margin-left: 18rem;
}   
form{
    padding: 1rem;  
}
span{
    color: red;
}
small{
    color:red
}